#preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10;
  -webkit-animation: fade 0.5s 2s forwards;
          animation: fade 0.5s 2s forwards;
}

#preload #loader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#preload #loader div {
  background: linear-gradient(160deg, #9356DC, #FF79DA);
  width: 2em;
  height: 2em;
  margin: 0.5em;
  border-radius: 100%;
  -webkit-animation: ball 0.75s infinite linear;
          animation: ball 0.75s infinite linear;
}

#preload #loader div:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#preload #loader div:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#preload #loader div:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes ball {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ball {
  50% {
    opacity: 0.2;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-stretch: condensed;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 0.9em;
  margin: 0;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.nav i {
  position: absolute;
  left: 1.2em;
  top: 1.2em;
  color: black;
  font-size: 1em;
}

.nav_logo {
  width: 8em;
  padding: 1em 0 0.5em 0;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 0.5em 0.5em -0.5em gray inset;
          box-shadow: 0 0.5em 0.5em -0.5em gray inset;
  padding: 1em 2em 1em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  font-size: 0.8em;
}

main {
  margin: 0;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.grey {
  background-color: #f6f6f6;
}

#explorer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: white;
  font-size: 0.7em;
  font-weight: 500;
  padding: 1em;
  margin: 2em auto 1em;
  border-radius: 2em;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-box-shadow: 0 0.3em 0.3em 0em #cccccc;
          box-shadow: 0 0.3em 0.3em 0em #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.75;
  -webkit-box-shadow: 0 0.3em 0.3em 0em #aaaaaa;
          box-shadow: 0 0.3em 0.3em 0em #aaaaaa;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.fonctionnement_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1em;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 0.2em 0.2em 0 #dddddd;
          box-shadow: 0 0.2em 0.2em 0 #dddddd;
  height: 3.7em;
  margin-bottom: 0.7em;
  margin-left: 0.5em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fonctionnement_div .circle {
  margin-left: -0.7em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.8em;
}

.fonctionnement_div i {
  width: 1em;
  color: gray;
  font-size: 1em;
}

.fonctionnement_div h3 {
  width: 75%;
}

.fonctionnement_div:hover {
  -webkit-box-shadow: 0 0.2em 0.2em 0 #cccccc;
          box-shadow: 0 0.2em 0.2em 0 #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #f5edff;
}

.fonctionnement_div:hover i {
  color: #9356DC;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.restaurants_card {
  border-radius: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0.2em 0.4em 0 #dddddd;
          box-shadow: 0 0.2em 0.4em 0 #dddddd;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.restaurants_card_new {
  position: absolute;
  background-color: #99E2D0;
  color: #149373;
  font-size: 0.7em;
  font-weight: 500;
  padding: 0.4em 0.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1em;
  right: 1em;
  border-radius: 0.1em;
}

.restaurants_card_image {
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  width: 100%;
  height: 10em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants_card_image.center {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

.restaurants_card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants_card_info_text {
  color: black;
}

.restaurants_card:hover {
  -webkit-box-shadow: 0 0.2em 0.2em 0 #cccccc;
          box-shadow: 0 0.2em 0.2em 0 #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.restaurants_card svg {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
}

.heart {
  margin: auto 0;
  cursor: pointer;
  height: 1.2em;
  width: 1.2em;
}

.heart linearGradient .purple {
  stop-color: #9356DC;
}

.heart linearGradient .pink {
  stop-color: #FF79DA;
}

.heart:hover path {
  fill: url("#grad");
  -webkit-animation: heartAnim 0.3s linear forwards;
          animation: heartAnim 0.3s linear forwards;
}

@-webkit-keyframes heartAnim {
  0% {
    d: path("M12 20.593C9.62863 18.26 7.3034 16.0655 5.40613 14C2.79899 11.1617 1 8.56697 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 8.57718 21.2337 11.1308 18.5902 14C16.7258 16.0234 14.4252 18.2038 12 20.593ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  25% {
    d: path("M12 15.5C10.5 17.5 6.95587 15.4683 5.5 14C1.89915 10.3684 1 9.11414 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 9.11768 23.1739 9.29631 19.5 13C18.066 14.4456 14.5 13 12 15.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  50% {
    d: path("M12.5 9.5C9.5 6.5 6 11 3 9.5C1.5 8.75 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 6.191 23.5 7 21 11C19.566 12.4456 15 12 12.5 9.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  75% {
    d: path("M12 6C7.80235 6.61622 7 8.5 3 8C1.51158 7.81395 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 22 3.5 22 3.5C22 3.5 23.5 5.457 21 5C19 5 17 5.266 12 6ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  97% {
    d: path("M12 5.5C11 5.5 10.5 1.07031 6.281 1.07031C1.781 1.07031 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 22 3.5 22 3.5C22 3.5 20 1.19028 17.726 1.19028C13.3194 1.19028 13 5.5 12 5.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  100% {
    d: path("M17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
}

@keyframes heartAnim {
  0% {
    d: path("M12 20.593C9.62863 18.26 7.3034 16.0655 5.40613 14C2.79899 11.1617 1 8.56697 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 8.57718 21.2337 11.1308 18.5902 14C16.7258 16.0234 14.4252 18.2038 12 20.593ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  25% {
    d: path("M12 15.5C10.5 17.5 6.95587 15.4683 5.5 14C1.89915 10.3684 1 9.11414 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 9.11768 23.1739 9.29631 19.5 13C18.066 14.4456 14.5 13 12 15.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  50% {
    d: path("M12.5 9.5C9.5 6.5 6 11 3 9.5C1.5 8.75 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 6.191 23.5 7 21 11C19.566 12.4456 15 12 12.5 9.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  75% {
    d: path("M12 6C7.80235 6.61622 7 8.5 3 8C1.51158 7.81395 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 22 3.5 22 3.5C22 3.5 23.5 5.457 21 5C19 5 17 5.266 12 6ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  97% {
    d: path("M12 5.5C11 5.5 10.5 1.07031 6.281 1.07031C1.781 1.07031 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 22 3.5 22 3.5C22 3.5 20 1.19028 17.726 1.19028C13.3194 1.19028 13 5.5 12 5.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
  100% {
    d: path("M17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
  }
}

footer {
  background-color: #323232;
  color: white;
  padding: 1.3em 1em;
  height: 9em;
}

footer img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 6em;
}

footer ul {
  margin: 0.7em 0;
  padding: 0;
}

footer li {
  list-style: none;
  font-size: 0.9em;
  line-height: 1.7em;
  color: white;
}

footer li i {
  width: 1.2em;
  margin-right: 0.2em;
}

.menu_image {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  padding: 1.8em 1em;
  padding-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -2em;
  background-color: #f6f6f6;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
}

.menu h1 {
  margin: 0;
  font-family: "Shrikhand",sans-serif;
  font-size: 1.5em;
  font-weight: normal;
}

.menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 0.5em;
  margin-bottom: 1.2em;
}

.menu_part {
  margin-bottom: 1em;
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

.menu_part h2 {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
}

.menu_part hr {
  border: none;
  border-top: 0.2em solid #99E2D0;
  margin: 0.2em 0 0.5em 0;
  width: 2.3em;
}

.menu_div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.8em;
  background-color: white;
  height: 3.5em;
  -webkit-box-shadow: 0 0.2em 0.2em 0 #dddddd;
          box-shadow: 0 0.2em 0.2em 0 #dddddd;
  margin-bottom: 0.8em;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

.menu_div:nth-child(3) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.menu_div:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.menu_div:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.menu_div:hover {
  -webkit-box-shadow: 0 0.2em 0.2em 0 #cccccc;
          box-shadow: 0 0.2em 0.2em 0 #cccccc;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.menu_div:hover .menu_div_text {
  -webkit-transition: 0.3s linear 0.1s;
  transition: 0.3s linear 0.1s;
  min-width: 120px;
}

.menu_div:hover .menu_div_price {
  min-width: 10%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.menu_div:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.menu_div_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.7em;
  margin-right: 0;
  white-space: nowrap;
  min-width: 80%;
  width: 100%;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.menu_div_text h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu_div p {
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_div_price {
  font-size: 0.8em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.7em;
  margin-left: 0;
  min-width: 17%;
  -webkit-transition: 0.3s linear 0.3s;
  transition: 0.3s linear 0.3s;
}

.menu_div_select {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  min-width: 3em;
  font-size: 1.2em;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu .btn {
  margin-top: 0.9em;
  font-size: 0.9em;
  padding: 0.9em 3em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(0.5em);
            transform: translateY(0.5em);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */