$primary: #9356DC;
$secondary: #FF79DA;
$tertiaire: #99E2D0;

body{
    margin: 0;
    font-family: Roboto, sans-serif;
    font-stretch:condensed;
}

h2{
    font-size: 1.2em;
}

h3{
    font-size: 0.6em;
    margin: 0;
}

p{
    font-size: 0.6em;
    font-weight:300;
    margin: 0;
}

.nav{
    display: flex;
    justify-content: center;
    position: relative;
    i{
        position: absolute;
        left: 1em;
        top: 1.5em;
        color: black;
        font-size: 0.8em;
    }
    &_logo{
        width: 7em;
        padding: 1em 0 0.5em 0;
    }
}

.localisation{
    display: flex;
    background-color: #dddddd;
    box-shadow: 0 0.5em 0.5em -0.5em gray inset;
    padding: 1em 2em 1em 0;
    justify-content: center;
    gap: 1em;
    font-size: 0.7em;
}

main{
    margin: 0;
}

#explorer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #eaeaea;
    padding: 0.5em 1.5em 2em 1.5em;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    padding: 1em;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 2em;
    background: linear-gradient(170deg,$secondary,$primary);
    box-shadow: 0 0.3em 0.3em 0em #cccccc;
    transition: 0.3s ease;
    &:hover{
        transition: 0.3s ease;
        opacity: 0.75;
        box-shadow: 0 0.3em 0.3em 0em #aaaaaa;
    }
}

#fonctionnement{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.fonctionnement_div{
    display: flex;
    align-items: center;
    gap: 1em;
    border-radius: 0.5em;
    background-color: #f6f6f6;
    box-shadow: 0 0.2em 0.2em 0 #dddddd;
    height: 2.2em;
    margin-bottom: 0.7em;
    margin-left: 0.5em;
    transition: 0.3s ease;
    .circle{
        margin-left: -0.7em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 1em;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        font-size: 0.5em;
    }
    i{
        width: 1em;
        color: $primary;
        font-size: 0.7em;
    }
    &:hover{
        box-shadow: 0 0.2em 0.2em 0 #cccccc;
        transition: 0.3s ease;
        background-color: #f5edff;
    }
}

#restaurants{
    background-color: #f6f6f6;
    padding: 1em;
    padding-bottom: 2.5em;
    display: flex;
    flex-direction: column;
}

.restaurants{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    &_card{
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        background-color: white;
        box-shadow: 0 0.2em 0.2em 0 #dddddd;
        transition: 0.3s ease;
        &_new{
            position: absolute;
            background-color: #63cf9d;
            color:darkgreen;
            font-size: 0.5em;
            padding: 0.3em 0.7em;
            align-items: center;
            top: 1em;
            right: 1em;
        }
        &_image{
            border-top-left-radius: 0.5em;
            border-top-right-radius: 0.5em;
            width: 100%;
            height: 7em;
            box-sizing: border-box; 
            object-fit: cover;
            object-position: bottom;
            &.center{
                object-position: 0 60%;
            }
        }
        &_info{
            display: flex;
            justify-content: space-between;
            padding: 0.5em 1em 0.5em 0.5em;
            align-items: center;
            &_text{
                color: black;
            }
        }   
        &:hover{
            box-shadow: 0 0.2em 0.2em 0 #cccccc;
            transition: 0.3s ease;
        }
    }
}

.heart{
    margin: auto 0;
    cursor: pointer;
    height: 1em;
    width: 1em;
    linearGradient{
        .purple{
            stop-color: $primary;
        }
        .pink{
            stop-color: $secondary;
        }
    }
    &:hover path{
        fill: url('#grad');
        animation: heartAnim 0.3s linear forwards;
    }
}

@keyframes heartAnim{
    0% {
        d:path("M12 20.593C9.62863 18.26 7.3034 16.0655 5.40613 14C2.79899 11.1617 1 8.56697 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 8.57718 21.2337 11.1308 18.5902 14C16.7258 16.0234 14.4252 18.2038 12 20.593ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z");
    }
    25% {
        d:path("M12 15.5C10.5 17.5 6.95587 15.4683 5.5 14C1.89915 10.3684 1 9.11414 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 9.11768 23.1739 9.29631 19.5 13C18.066 14.4456 14.5 13 12 15.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z")
    }
    50% {
        d:path("M12.5 9.5C9.5 6.5 6 11 3 9.5C1.5 8.75 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 23 2.631 23 6.191C23 6.191 23.5 7 21 11C19.566 12.4456 15 12 12.5 9.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z")
    }
    75%{
        d:path("M12 6C7.80235 6.61622 7 8.5 3 8C1.51158 7.81395 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 22 3.5 22 3.5C22 3.5 23.5 5.457 21 5C19 5 17 5.266 12 6ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z")
    }
    97%{
        d:path("M12 5.5C11 5.5 10.5 1.07031 6.281 1.07031C1.781 1.07031 1 6.191 1 6.191C1 2.4 4.068 1 6.281 1C7.593 1 10.432 1.501 12 5.457C13.59 1.489 16.464 1.01 17.726 1.01C20.266 1.01 22 3.5 22 3.5C22 3.5 20 1.19028 17.726 1.19028C13.3194 1.19028 13 5.5 12 5.5ZM17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z")
    }
    100%{
        d:path("M17.726 0.00999999C15.523 0.00999999 13.28 1.052 12 3.248C10.715 1.042 8.478 0 6.281 0C3.098 0 0 2.187 0 6.191C0 10.852 5.571 15.62 12 22C18.43 15.62 24 10.852 24 6.191C24 2.18 20.905 0.00999999 17.726 0.00999999Z")
    }
}

footer{
    background-color: rgb(50,50,50);
    color: white;
    padding: 1em;
    height: 6em;
    img{
        filter:invert(100%);
        width: 4em;
    }
    ul{
        margin: 0.5em 0;
        padding:0;
    }
    li{
        list-style: none;
        font-size: 0.6em;
        line-height: 1.7em;
        color: white;
    }
}

.menu_image{
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.menu{
    padding: 1em;
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    margin-top: -2em;
    background-color: #f6f6f6;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    position: relative;
    h1{
        margin: 0;
        font-family: "Shrikhand",sans-serif;
        font-size: 1em;
    }
    &_title{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-right: 0.5em;
        margin-bottom: 1.2em;
    }
    &_part{
        margin-bottom: 1em;
        h2{
            font-size: 0.6em;
            font-weight: normal;
            margin: 0;
        }
        hr{
            border: none;
            border-top: 2px solid $tertiaire;
            margin: 0.2em 0 0.5em 0;
            width: 1.3em;
        }
    }
    &_div{
        cursor: pointer;
        display: flex;
        border-radius: 0.5em;
        background-color: white;
        box-shadow: 0 0.2em 0.2em 0 #dddddd;
        margin-bottom: 0.7em;
        transition: 0.3s linear;
        overflow: hidden;
        &:hover{
            box-shadow: 0 0.2em 0.2em 0 #cccccc;
            transition: 0.5s linear;
            .menu_div_text{
                transition: 0.3s linear 0.1s;
                min-width: 100px;
            }
            .menu_div_price{
                min-width: 11%;
                margin-left: 0;
                transition: 0.3s linear ;
            }
            i{
                transform: rotate(360deg);
                transition: 0.4s linear;
            }
        }
        &_text{
            flex-flow: column;
            gap: 0.2em;
            margin: 7px;
            margin-right: 0;
            white-space: nowrap;
            min-width: 80%;
            width: 100%;
            transition: 0.5s linear;
            h3{
                text-overflow: ellipsis; 
                overflow: hidden;
            }
        }
        p{
            font-size: 0.5em;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
        &_price{
            font-size: 0.5em;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 7px 5px;
            min-width: 15%;
            transition: 0.3s linear 0.3s;
        }
        &_select{
            background-color: $tertiaire;
            display: flex;
            align-items: center;
            color: white;
            justify-content: center;
            border-top-right-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            min-width: 3em;
            font-size: 0.8em;
            transition: 0.5s ease;
        }
    }
    .btn{
        padding: 0.8em 2.2em;
    }
}