body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-stretch: condensed;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 0.6em;
  margin: 0;
}

p {
  font-size: 0.6em;
  font-weight: 300;
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.nav i {
  position: absolute;
  left: 1em;
  top: 1.5em;
  color: black;
  font-size: 0.8em;
}

.nav_logo {
  width: 7em;
  padding: 1em 0 0.5em 0;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dddddd;
  -webkit-box-shadow: 0 0.5em 0.5em -0.5em gray inset;
          box-shadow: 0 0.5em 0.5em -0.5em gray inset;
  padding: 1em 2em 1em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  font-size: 0.7em;
}

main {
  margin: 0;
}

#explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f8f8f8;
  padding: 0.5em 1.5em 2em 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  padding: 1em;
  margin: auto;
  margin-top: 1.5em;
  border-radius: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 0.3em 0.3em 0em #cccccc;
          box-shadow: 0 0.3em 0.3em 0em #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0.8;
  -webkit-box-shadow: 0 0.3em 0.3em 0em #aaaaaa;
          box-shadow: 0 0.3em 0.3em 0em #aaaaaa;
}

#fonctionnement {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  border-radius: 0.5em;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0 0.2em 0.2em 0 #dddddd;
          box-shadow: 0 0.2em 0.2em 0 #dddddd;
  height: 2.2em;
  margin-bottom: 0.7em;
  margin-left: 0.5em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fonctionnement_div .circle {
  margin-left: -0.7em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 0.5em;
}

.fonctionnement_div i {
  width: 1em;
  color: #9356DC;
  font-size: 0.7em;
}

.fonctionnement_div:hover {
  -webkit-box-shadow: 0 0.2em 0.2em 0 #cccccc;
          box-shadow: 0 0.2em 0.2em 0 #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #9356DC33;
}

#restaurants {
  background-color: #f8f8f8;
  padding: 1em;
  padding-bottom: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.7em;
}

.restaurants_card {
  border-radius: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 0.2em 0.2em 0 #dddddd;
          box-shadow: 0 0.2em 0.2em 0 #dddddd;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.restaurants_card_new {
  position: absolute;
  background-color: #63cf9d;
  color: darkgreen;
  font-size: 0.5em;
  padding: 0.3em 0.7em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1em;
  right: 1em;
}

.restaurants_card_image {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  width: 100%;
  height: 7em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.restaurants_card_image.center {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

.restaurants_card_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em 0.5em 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants_card_info_text {
  color: black;
}

.restaurants_card:hover {
  -webkit-box-shadow: 0 0.2em 0.2em 0 #cccccc;
          box-shadow: 0 0.2em 0.2em 0 #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fa-heart {
  color: #9356DC;
  cursor: pointer;
  position: relative;
}

.fa-heart .hrts {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fa-heart:hover .hrts {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer {
  background-color: #323232;
  color: white;
  padding: 1em;
  height: 6em;
}

footer img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 4em;
}

footer ul {
  margin: 0.5em 0;
  padding: 0;
}

footer li {
  list-style: none;
  font-size: 0.6em;
  line-height: 1.7em;
  color: white;
}

.menu_image {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -2em;
  background-color: #f8f8f8;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  position: relative;
}

.menu h1 {
  margin-top: 0;
  font-family: "Shrikhand",sans-serif;
  font-size: 1em;
}

.menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-right: 0.5em;
  margin-bottom: 0.7em;
}

.menu_part {
  margin-bottom: 1em;
}

.menu_part h2 {
  font-size: 0.6em;
  font-weight: normal;
  margin: 0;
}

.menu_part hr {
  border: none;
  border-top: 2px solid #99E2D0;
  margin: 0.2em 0 0.5em 0;
  width: 1.3em;
}

.menu_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
  border-radius: 0.5em;
  background-color: white;
  -webkit-box-shadow: 0 0.2em 0.2em 0 #dddddd;
          box-shadow: 0 0.2em 0.2em 0 #dddddd;
  margin-bottom: 0.7em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu_div:hover {
  -webkit-box-shadow: 0 0.2em 0.2em 0 #cccccc;
          box-shadow: 0 0.2em 0.2em 0 #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #9356DC33;
}

.menu_div_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 0.2em;
}

.menu_div p {
  font-size: 0.5em;
}

.menu_div b {
  font-size: 0.5em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.menu .btn {
  padding: 0.8em 2.2em;
}
/*# sourceMappingURL=style.css.map */